
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

@tailwind base;

@tailwind components;

@import 'components/navbar';
@import 'components/card';
@import 'components/fields';
@import 'components/buttons';

@tailwind utilities;


html, body {
    @apply bg-gray-100 text-gray-700 m-0 h-screen text-base;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}


main {
    display: block;
}

.container {
    @apply mx-auto max-w-screen-lg;
    // max-width: 1140px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}


a.btn-link {
    @apply text-blue-600;

    &:hover {
        @apply text-blue-800 border-b border-blue-800;
    }
}
