

nav.navbar {

    @apply relative flex items-center py-2 px-4 ;

    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    &.navbar-light {
        .navbar-toggler {
            color: rgba(0, 0, 0, 0.5);
            border-color: rgba(0, 0, 0, 0.1);

            @screen md {
                @apply hidden;
            }
        }
    }

    &.navbar-expand-md {

        @apply flex-row flex-no-wrap justify-start;

        & > .container {
            @apply flex-no-wrap;
        }

        .navbar-collapse {
            @apply flex;
            flex-basis: auto;

            flex-grow: 1;
            align-items: center;
        }

        .navbar-nav {
            @apply flex flex-row pl-0 mb-0 list-none;

            .nav-link {
                @apply px-2 py-2 block text-gray-600;
            }

            .dropup, .dropright, .dropdown, .dropleft {
                position: relative;

                .dropdown-toggle {
                    white-space: nowrap;
                }

                .dropdown-toggle::after {
                    display: inline-block;
                    margin-left: 0.255em;
                    vertical-align: 0.255em;
                    content: "";
                    border-top: 0.3em solid;
                    border-right: 0.3em solid transparent;
                    border-bottom: 0;
                    border-left: 0.3em solid transparent;
                }

                .dropdown-menu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    display: none;
                    float: left;
                    min-width: 10rem;
                    padding: 0.5rem 0;
                    margin: 0.125rem 0 0;
                    font-size: 0.9rem;
                    color: #212529;
                    text-align: left;
                    list-style: none;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 0.25rem;

                    &.show {
                        display: block;
                    }

                    .dropdown-item {
                        display: block;
                        width: 100%;
                        padding: 0.25rem 1.5rem;
                        clear: both;
                        font-weight: 400;
                        color: #212529;
                        text-align: inherit;
                        white-space: nowrap;
                        background-color: transparent;
                        border: 0;
                    }
                }
            }

        }

    }

    .container {
        @apply flex items-center justify-between mx-auto px-4 w-full;

        .navbar-brand {
            @apply inline-block py-1 mr-4 text-lg text-gray-900;
        }


    }

}
