<template>
    <div>

        <div class="room-devices" v-if="active_room != null">

            <div class="flex justify-between p-4 block">
                <span class="text-lg ">Apparaten in kamer {{ active_room.room_number }}</span>
                <button @click="active_room = null;" class="text-xl">&times;</button>
            </div>

            <div v-for="device in active_room.devices" class="device" :class="{ 'device-enabled': device.device_status, 'device-disabled': !device.device_status  }">
                <span class="device-icon">
                    <img class="" :src="'/assets/device-types/' + device.device_type_icon_filename" /></span>
                <span class="device-type">{{ device.device_type }}</span>
                <span class="device-status">{{ device.device_status ? 'Aan' : 'Uit' }}</span>
                <span class="device-toggle">
                    <button @click="toggle_device(device)">toggle</button></span>
            </div>

        </div>

        <div class="floorplans">

            <div
                v-for="floor in floors"
                class="floorplan"
                :data-floor="floor.floor_level"
                :class="{ 'hidden': (current_floor_level != floor.floor_level) }">

                <!-- <object class="w-full" :data="'/assets/floorplans/' + floor.floor_image_filename" type="image/svg+xml"></object> -->
                <svg class="floorplan-svg mx-auto" style="max-width:1000px; height: auto;" viewBox="0 0 2462 1211">
                    <image :xlink:href="'/assets/floorplans/' + floor.floor_image_filename" width="100%"  />

                    <polygon
                        v-for="room in floor.rooms"
                        :points="room.svg_points"
                        :class="room_classes(room)"
                        @click="switch_room(room)" />

                </svg>

            </div>

        </div>

        <div class="floor-buttons w-full flex justify-center">

            <span v-if="current_floor_level === null">Loading...</span>
            <template v-else>
                <button class="" @click="current_floor_level--;" :disabled="current_floor_level <= level_min">&lt;</button>
                <span>{{ current_floor_level }}</span>
                <button class="" @click="current_floor_level++;" :disabled="current_floor_level >= level_max">&gt;</button>
            </template>

        </div>

    </div>

</template>

<script>

var W3CWebSocket = require('websocket').w3cwebsocket;
import axios from 'axios';

delete axios.defaults.headers.common["X-Requested-With"];

export default Vue.extend({

    props: {
    },

    components: {
    },

    data: function() {
        return {

            active_room: null,

            floors: null,
            current_floor_level: null,

            level_max: null,
            level_min: null,

            websocket_client: null,

            user: null,

            activity_rooms: [],

        }
    },

    methods: {

        switch_room: function(room) {
            if(this.has_access_to_room(room.room_id))
                this.active_room = room
        },

        load_user: function() {
            axios.get('/api/user')
                .then(response => {
                    this.user = response.data;

                    // real mounted events, only after user loaded
                    this.listen_for_triggers();
                    this.load_floors();
                });
        },

        load_floors: function() {
            axios.get('/api/floors')
                .then(response => {
                    this.current_floor_level = response.data.current_floor_level;
                    this.floors = response.data.floors;
                    // this.$set(this.floors, response.data.floors, 2)

                    this.level_max = response.data.level_max;
                    this.level_min = response.data.level_min;

                    if (this.active_room != null)
                    {
                        let active_room = this.active_room;

                        this.active_room = response.data.floors
                            .find(floor => floor.floor_id == active_room.floor_id).rooms
                            .find(room => room.room_id == active_room.room_id);
                    }

                    this.$forceUpdate();
                });
        },

        listen_for_triggers: function() {

            this.websocket_client = new W3CWebSocket('ws://localhost:8080/json.htm', 'domoticz');

            this.websocket_client.onerror = () => {
                this.$toast.error('Kan geen verbinding maken met Domoticz\'s socket-server. Controleer het adres', { duration: 3000 });
            };

            this.websocket_client.onopen = () => {
                this.$toast.success('Verbonden met Domoticz\'s websocket-server', { duration: 5000 });
            };

            this.websocket_client.onclose = () => {
                this.$toast.warning('Verbinding met Domoticz\'s websocket-server verbroken', { duration: 3000 });
            };

            this.websocket_client.onmessage = (e) => {
                if (typeof e.data === 'string') {
                    // console.log("Received: '" + e.data + "'");
                    let json_response = JSON.parse(e.data);

                    if ('data' in json_response) {
                        let json_response_data = JSON.parse(json_response.data);

                        for (let sensor of json_response_data.result) {

                            // console.log(sensor);

                            axios.get('/api/update_device/' + sensor.idx + '/' + sensor.Status)
                                .then(response => {
                                    this.load_floors();
                                });

                            for(let floor_i in this.floors)
                            {
                                let floor = this.floors[floor_i];
                                for (let room_i in floor.rooms)
                                {
                                    let room = this.floors[floor_i].rooms[room_i];
                                    for (let device of room.devices)
                                    {
                                        if (parseInt(device.domoticz_id,10) === parseInt(sensor.idx, 10))
                                        {
                                            if (this.has_access_to_room(room.room_id))
                                            {
                                                this.$toast.success('Apparaat ' + device.device_type + ' in kamer ' + room.room_number + ' is nu: ' + (sensor.Status == 'On' ? 'aan' : 'uit'), { duration: 6000 });

                                                this.blink_room(room.room_id);
                                            }
                                        }
                                    }
                                }
                            }


                            // get room where domoticz_id equals idx
                            // if ()


                        }
                    }

                } else {
                    console.log('Received undefined datatype: ' + typeof e.data);
                }
            };

        },

        has_access_to_room(room_id) {
            if (['admin', 'observer'].includes(this.user.role)  || this.user.room_id == room_id)
                return true;
            else
                return false;
        },

        room_classes(room) {

            let classes = ['room', 'room-available'];

            // if (this.user.role == 'admin' || this.user.role )
            if (this.has_access_to_room(room.room_id))
            {
                classes.push('room-access');
            }

            if (this.activity_rooms.includes(room.room_id))
            {
                classes.push('room-activity');
            }

            return classes;
        },

        blink_room(room_id) {
            this.activity_rooms.push(room_id);
            setTimeout(() => {
                this.activity_rooms = this.activity_rooms.filter(item => item.room_id == room_id);
            }, 1000);
        },

        toggle_device(device) {

            let new_status = device.device_status == true ? 'Off' : 'On'; // inverse

            axios.get('http://localhost:8080/json.htm?type=command&param=switchlight&idx=' + device.domoticz_id + '&switchcmd=' + new_status, { headers: { 'content-type': 'application/json' } })
            .catch(error => {
                this.$toast.error(`Kon de status van het apparaat niet aanpassen`);
                console.log(error);
            });
        }

    },

    computed: {

    },

    mounted: function() {
        this.load_user();
    }

});
</script>

<style lang="scss">

.room {
    opacity: 0.2;

    &.room-available {
        fill: #8989ff;

        &.room-access {
            fill: #23ec23;
            cursor: pointer;

            &.room-activity {

                opacity: 0.5;
                animation: flashBg 0.5s infinite;

            	@keyframes flashBg {
            		0%        { fill: #23ec23;}
            		50%       { fill: #125b12;}
            		100%      { fill: #23ec23;}
            	}
            }

        }
    }

}

.floor-buttons {

    span {
        @apply text-4xl px-4 my-auto;
    }

    button {
        @apply text-5xl px-4 text-blue-600;

        &:hover {
            @apply text-blue-800;
        }

        &[disabled] {
            @apply text-gray-400;
        }
    }

}

.room-devices {

    @apply w-full mb-4 border border-gray-500 rounded-md;

    div.device {

        @apply w-full h-10 bg-gray-200 border-t border-gray-400 flex;

        span {
            @apply block;

            &.device-icon {
                @apply w-1/12 px-2 py-1 border-r border-gray-400;

                img {
                    @apply h-6 w-auto mx-auto;
                }
            }

            &.device-type {
                @apply w-5/12 p-2 border-r border-gray-400;
            }

            &.device-status {
                @apply w-4/12 p-2 border-r border-gray-400;
            }

            &.device-toggle {
                @apply w-2/12 py-2;

                button {
                    @apply mx-auto block bg-gray-300  px-3 border border-gray-400 rounded-sm;
                }
            }

        }

        &.device-enabled {
            .device-status {
                @apply bg-green-200;
            }
        }

        &.device-disabled {
            .device-status {
                @apply bg-red-200;
            }
        }

    }

}

</style>
